---
import RootLayout from "@/layouts/root-layout.astro"

console.log(Astro.locals)
---

<RootLayout title="FileHub" description="FileHub is a cloud storage service.">
  <h1>FileHub</h1>
</RootLayout>

