---
import RootLayout from "@/layouts/root-layout.astro"
---

<RootLayout title="FileHub | My Files" description="FileHub is a cloud storage service.">
  <h1 class="text-3xl font-bold mb-4">My Files</h1>
</RootLayout>
